<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>New Message</title>
</head>
<body>
    <form action="/home/new-message" method="post">
        <div>
            <label for="message">Write Message:</label>
            <textarea name="message" id="Message" cols="30" rows="10" placeholder="Write something..."></textarea>
        </div>
        <button type="submit">Post</button>
    </form>
</body>
</html>