<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sign Up</title>
</head>
<body>
    <form action="/sign-up" method="post">
        <div>
            <label for="firstName">First Name</label>
            <input type="text" id="firstName" name="firstName" required>
        </div>
        <div>
            <label for="lastName">Last Name</label>
            <input type="text" id="lastName" name="lastName" required>
        </div>
        <div>
            <label for="username">Username</label>
            <input type="text" name="username" id="username" required>
        </div>
        <div>
            <label for="password">Password</label>
            <input type="password" id="password" name="password" required>
        </div>
        <div>
            <label for="rePassword">Re-enter Password</label>
            <input type="password" id="rePassword" name="rePassword" required>
        </div>
        <div>
            <input type="checkbox" id="isAdmin" name="isAdmin">
            <label for="isAdmin">Admin</label>
        </div>
        <button type="submit">Sign Up</button>
    </form>
</body>
</html>